@page
@model WebApplication_FDF_K19_Shelter.Pages.BookingModel
@{
    ViewData["Title"] = "Book et besøg";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="importmap"></script>
    <title>@ViewData["Title"] Book et besøg </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Book.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DyrvaernetRoskilde.styles.css" asp-append-version="true" />
</head>

<div class="booking-container">

    <div class="booking-left">
        <h2>Book En Tid Til Besøg Hos Os</h2>

        <form method="post">
            <label>Navn Og Efternavn:</label>
            <input type="text" asp-for="newBooking.FullName" required />

            <label>Check ind:</label>
            <input type="datetime-local" asp-for="newBooking.CheckInDate" required />
            <label>Check ud:</label>
            <input type="datetime-local" asp-for="newBooking.CheckoutDate" required />
            <label>Antal deltagere:</label>
            <input type="number" asp-for="newBooking.NoOfCampers" required />
            <label>Patrulje:</label>
            <input type="text" asp-for="newBooking.AgeGroup" required />
            <label>Kreds:</label>
            <input type="text" asp-for="newBooking.DistrictOfUser" required />
          
             
            <button type="submit">Book Tid</button>
        </form>

        <div class="Kontaktinfo">
            <h3>Kontaktinformation</h3>
            <p>Email: info@dyrevaernet.dk</p>
            <p>Telefon: +45 44946695</p>
        </div>

        <h3>Eksisterende Bookinger</h3>
        <ul>
            @foreach (var booking in Model.Bookings.GetAll())
            {
                <li>@booking.ToString()</li>
            }
        </ul>
    </div>

    <div class="booking-right">
        <img src="Images/designHundd.png" alt="Hund design" />
        <img src="Images/DesignKat.png" alt="Kat design" />
    </div>

</div>

