@page
@model WebApplication_FDF_K19_Shelter.Pages.BookingConfirmationModel
@{
    ViewData["Title"] = "Om";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="importmap"></script>
    <title>@ViewData["Title"] Om </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/BookingConfirmation.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Dyreinternat.styles.css" asp-append-version="true" />
</head>
<h2>Tak For Din Booking!</h2>
<p> Din tid er blevet registreret hos Dyreværnet.</p>

<a href="/Book">
    <button>Tilbage Til Booking</button>
</a>


